[Unit]
Description=every timer day-9am-6pm

[Timer]
AccuracySec=1s
OnCalendar=*-*-* 09:00:00
OnCalendar=*-*-* 18:00:00
Persistent=true

[Install]
WantedBy=timers.target
