[Unit]
Description=every task legacy-weekly

[Service]
Type=oneshot
Environment=EVERY_HOME=/every-golden/home
ExecStart=__RUBY__ "__LAUNCHER__" run "legacy-weekly"
