[Unit]
Description=every task sunday-12am

[Service]
Type=oneshot
Environment=EVERY_HOME=/every-golden/home
ExecStart=__RUBY__ "__LAUNCHER__" run "sunday-12am"
